{% extends 'users/base.html' %}

{% block title %}Teacher Dashboard - iTSA{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center mb-4">Welcome to iTSA Teacher Dashboard</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Teacher Information</h5>
                <p class="card-text">Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
                <p class="card-text">Your email: {{ user.teacher_email }}</p>
                <p class="card-text">Faculty: {{ user.faculty }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %} 